p Я умею
    ul.technologies
        li
            img(src='assets/images/armory.svg')
        li
            img(src='assets/images/branch.svg')
        li
            img(src='assets/images/caffe2.svg')
        li
            img(src='assets/images/microcosm.svg')