extends ../template

block variables
    - var title = 'Блог'

block content
    .wrap
        h1 Блог
        ul
            li
                h2 Заголовок статьи
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolor, eligendi exercitationem harum laborum minima officia provident veniam voluptatum. Amet aperiam ducimus eum exercitationem iure nemo nesciunt praesentium sit vitae.
            li
                h2 Еще статья
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloribus eaque esse et ex hic inventore iste laborum, odit sed, velit voluptates. Dignissimos eius laudantium molestiae mollitia necessitatibus, non omnis?
            li
                h2 Последняя статья
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor ea eaque esse magni maxime minima minus natus numquam odit perspiciatis porro quaerat quidem ratione sed tempora tempore, temporibus voluptates!